$primary-color : hsl(243, 87%, 12%);
$second-primary-color : hsl(238, 22%, 44%);

$primary-accent : hsl(224, 93%, 58%);
$second-accent : hsl(170, 45%, 43%);

$primary-neutral : hsl(240deg 75% 98%);
$second-neutral : hsl(0, 0%, 75%);